{% extends 'FrontendBundle::index.html.twig' %}

{% block title %}
    <title>{{ whiteLabel.companyName }} - {{'wspot.forgot_pass_page.title'|trans}}</title>
{% endblock %}

{% block container %}
    <section class="container forgetpass singleBox">
        <div id="locale" class="hide">{{  app.request.locale }}</div>

        <div class="box-content">
            {% if (step == 'step-validate-answer') %}
                <h1>{{ 'wspot.secret_answer_recovery.title'|trans }}</h1>
            {% elseif (step == 'pwd-only') %}
                <h1>{{ 'wspot.secret_answer_recovery.title_pwd_only'|trans }}</h1>
            {% elseif (guestEmail is defined) %}
                <h1>{{'wspot.recovery_password_email.title'|trans}}</h1>
            {% else %}
                <h1>{{ 'wspot.forgot_pass_page.title'|trans }}</h1>
            {% endif %}

            {% if (step == 'one') %}

                <div class="form">
                    {% form_theme form 'FrontendBundle:Form:frontendCustomForm.html.twig' %}
                    {{ 'wspot.login_page.forgot_pass_message1'|trans }}

                    {{ form_start(form, {attr: {novalidate: 'novalidate', 'id': 'forgetPassword'}}) }}
                    <input type="hidden" name="step" value="one">

                    {% for property in form.properties %}
                        {{ form_row(property) }}
                    {% endfor %}

                    {% if (error) %}
                        <div class="error">
                            <span class="errorBox" style="position: relative; top: 0px;">{{ error|trans }}</span>
                        </div>
                    {% endif %}

                    {% if (hasDocument and hasEmail) %}
                        <div class="forget-email">
                            <a href="{{ path('frontend_forget_email') }}" title="{{ 'wspot.login_page.forgot_email'|trans }}">{{ 'wspot.login_page.forgot_email'|trans }}</a>
                        </div>
                    {% endif %}

                    <a style="background-color: #B26501; display: none;" id="loaderBtnForgetPass" class="btnLoaderForgetPass btnLoader"><img src="{{ asset(assets_path ~'/images/ico-loader.gif') }}" /></a>
                    {{ form_row(form.submit, {'label': 'wspot.login_page.forgot_pass_continue_input'|trans }) }}
                    {{ form_end(form) }}
                    <button class="btnCancelar" onClick="window.location.href='{{ path('frontend_index', { 'nas': wspotNas, 'autoLogin': 0 }) }}'">{{ 'wspot.forgot_pass_page.cancel'|trans }}</button>
                </div>
            {% elseif (step == 'two') %}
                <div id="step2" class="resetPassSteps2{{ (app.request.locale == 'en') ? '_eng' }}"></div>

                <div class="form">
                    {% form_theme form 'FrontendBundle:Form:frontendCustomForm.html.twig' %}

                    {{ 'wspot.login_page.forgot_pass_message2'|trans }}

                    {{ form_start(form, {attr: {novalidate: 'novalidate', 'id': 'forgetPassword'}}) }}

                    {% for property in form.properties %}
                        {{ form_row(property) }}
                    {% endfor %}

                    {{ form_row(form.password) }}

                    {% if (error) %}
                        <div class="error">
                            <span class="errorBox" style="position: relative; top: 0px;">{{ error|trans }}</span>
                        </div>
                    {% endif %}

                    {{ form_row(form.submit, {'label': 'wspot.login_page.forgot_pass_continue_input'|trans }) }}
                    <a style="background-color: #B26501; display: none;" id="loaderBtnForgetPass" class="btnLoaderForgetPass btnLoader"><img src="{{ asset(assets_path ~'/images/ico-loader.gif') }}" /></a>
                    <button class="btnCancelar" onClick="window.location.href='{{ path('frontend_index', { 'nas': wspotNas, 'autoLogin': 0 }) }}'">{{ 'wspot.forgot_pass_page.cancel'|trans }}</button>
                    {{ form_end(form) }}
                </div>
            {% elseif (step == 'auto') %}
                <div class="form">
                    {% form_theme form 'FrontendBundle:Form:frontendCustomForm.html.twig' %}

                    {{ 'wspot.login_page.forgot_pass_admin_request'|trans }} <a href="mailto:{{ fromEmail }}" style="text-decoration: none;">{{ fromEmail }}</a>.

                    <a class="btnHome" href="{{ path('frontend_index', { 'nas': wspotNas, 'autoLogin': 0 }) }}" style="margin-top: 40px;">{{ 'wspot.confirmation.button_home'|trans }}</a>
                </div>
            {% elseif (step == 'step-validate-answer') %}
                <div class="form">
                    {% form_theme form 'FrontendBundle:Form:frontendCustomForm.html.twig' %}

                    {{ 'wspot.secret_answer_recovery.info'|trans }}

                    <form method="POST">
                        <input type="text" value="{{ questionAnswered.question }}" disabled>
                        <input type="text" name="_answer" required>
                        {% if msgErr is defined %}
                            <label for="_answer" id="_answer-error" class="error">{{ msgErr }}</label>
                        {% endif %}
                        <input type="hidden" name="_guest_id" value="{{ questionAnswered.guestId }}">
                        <div>
                            <button id="frontend_recovery_password_submit" name="frontend_recovery_password[submit]" type="submit">{{ 'wspot.secret_answer_recovery.button_text'|trans }}</button>
                            <button class="btnCancelar" onClick="window.location.href='{{ path('frontend_index', { 'nas': wspotNas, 'autoLogin': 0 }) }}'">{{ 'wspot.forgot_pass_page.cancel'|trans }}</button>
                        </div>
                    </form>
                </div>
            {% elseif (step == 'pwd-only') %}
                <div class="form">
                    {% form_theme form 'FrontendBundle:Form:frontendCustomForm.html.twig' %}

                    {{ 'wspot.secret_answer_recovery.info_pwd_only'|trans }}

                    {{ form_start(form, {attr: {novalidate: 'novalidate', 'id': 'forgetPassword'}}) }}

                    {{ form_row(form.password) }}

                    {% if (error) %}
                        <div class="error">
                            <span class="errorBox" style="position: relative; top: 0px;">{{ error|trans }}</span>
                        </div>
                    {% endif %}

                    {{ form_row(form.submit, {'label': 'wspot.login_page.forgot_pass_continue_input'|trans }) }}
                    <a style="background-color: #B26501; display: none;" id="loaderBtnForgetPass" class="btnLoaderForgetPass btnLoader"><img src="{{ asset(assets_path ~'/images/ico-loader.gif') }}" /></a>
                    <button class="btnCancelar" onClick="window.location.href='{{ path('frontend_index', { 'nas': wspotNas, 'autoLogin': 0 }) }}'">{{ 'wspot.forgot_pass_page.cancel'|trans }}</button>
                    {{ form_end(form) }}
                </div>
            {% elseif (step == 'forget-password-choice') %}
                <div class="form">
                    {% form_theme form 'FrontendBundle:Form:frontendCustomForm.html.twig' %}

                    {{ 'wspot.recovery_password_choice.title'|trans }}
                    <div>
                        <form name="frontend_recovery_password" method="post" action="{{ path('frontend_forget_password') }}" step="one" novalidate="novalidate" id="forgetPassword">
                            <input type="hidden" name="forget_password_choice" value="email">
                            <input type="hidden" name="_guest_id" value="{{_guest_id}}">
                            <button type="submit" id="frontend_recovery_password_submit" name="frontend_recovery_password[submit]">{{ 'wspot.recovery_password_choice.email'|trans }}</button>   
                        </form>
            
                        <form name="frontend_recovery_password" method="post" action="{{ path('frontend_forget_password') }}" step="one" novalidate="novalidate" id="forgetPassword">
                            <input type="hidden" name="forget_password_choice" value="secret-answer">
                            <input type="hidden" name="_guest_id" value="{{_guest_id}}">
                            <button type="submit" id="frontend_recovery_password_submit" name="frontend_recovery_password[submit]">{{ 'wspot.recovery_password_choice.secret_question'|trans }}</button>  
                        </form>
                    </div>
                    <br>
                    <br>
                    <div>
                        <button class="btnCancelar" onclick="history.back()">{{ 'wspot.recovery_password_choice.cancel'|trans }}</button>
                    </div>
                </div>
            {% elseif (step == 'email') %}
                <div class="form">
                    <p>
                        {{ 'wspot.recovery_password_email.p1_part1'|trans }}<b>{{guestEmail}}</b>{{ 'wspot.recovery_password_email.p1_part2'|trans }}
                    </p>
                    <p>
                        {{ 'wspot.recovery_password_email.p2'|trans }}
                    <p>
                    <br>
                    <p>
                        <button class="btnCancelar" onclick="history.back()">{{ 'wspot.recovery_password_email.back'|trans }}</button>
                    </p>
                    <p>
                        <button class="btnCancelar" onclick="window.location='{{ path('frontend_index')}}'">{{ 'wspot.recovery_password_email.login'|trans }}</button>
                    </p>
                </div>
            {% endif %}
        </div>

    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset(assets_path ~'/js/jquery.maskedinput.js')}}"></script>
    <script src="{{ asset(assets_path ~'/js/jquery.validate.min.js')}}"></script>

    <script>
        $(document).ready(function(){

            $(window).keydown(function(event){
                if( (event.keyCode == 13) ) {
                    event.preventDefault();
                    return false;
                }
            });

            if(!jQuery(".errorBox").text()){
                jQuery(".errorBox").css("background-color","transparent");
            } else {
                $('.errorBox').css("background-color","#9f2323");
            }
        });

        emailAutoCompleteDomain({
            0: '#frontend_recovery_password_properties_email'
        });
    </script>
{% endblock %}