{% extends 'FrontendBundle::index.html.twig' %}

{% block title %}
    <title>{{ whiteLabel.companyName }} - {{ 'wspot.forgot_pass_page.title'|trans }}</title>
{% endblock %}

{% block container %}
    <section class="container forgetpass singleBox">
        <div id="locale" class="hide">{{  app.request.locale }}</div>

        <div class="box-content">
            <h1>{{ 'wspot.secret_answer_recovery.error_title'|trans }}</h1>

            <div class="form">
                {{ 'wspot.secret_answer_recovery.error_info'|trans }}

                <a class="btnHome" href="{{ path('frontend_index', { 'nas': wspotNas, 'autoLogin': 0 }) }}" style="margin-top: 40px;">{{ 'wspot.secret_answer_recovery.error_cancel'|trans }}</a>
            </div>

        </div>

    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset(assets_path ~'/js/jquery.maskedinput.js')}}"></script>
    <script src="{{ asset(assets_path ~'/js/jquery.validate.min.js')}}"></script>

    <script>
        $(document).ready(function(){

            $(window).keydown(function(event){
                if( (event.keyCode == 13) ) {
                    event.preventDefault();
                    return false;
                }
            });

            if(!jQuery(".errorBox").text()){
                jQuery(".errorBox").css("background-color","transparent");
            } else {
                $('.errorBox').css("background-color","#9f2323");
            }
        });

        emailAutoCompleteDomain({
            0: '#frontend_recovery_password_properties_email'
        });
    </script>
{% endblock %}