{% extends 'PanelBundle::layout.html.twig' %}

{% block content %}
    <h3 class="heading-mosaic">Definir o serviço de envio de SMS</h3>

    <div class="innerLR">

        <div class="widget widget-tabs border-bottom-none">
            <div class="widget-head">
                <ul>
                    <li class="active">
                        <a class="glyphicons edit" data-toggle="tab"><i></i>Editar</a>
                    </li>
                </ul>
            </div>

            <div class="widget-body">
                {{ form_start(form, { 'attr': {'class': 'form-horizontal', novalidate: 'novalidate', 'id': 'smsGatewayForm'} }) }}
                {% form_theme form 'AdminBundle:Form:fields.html.twig' %}
                <div class="widget">
                    <div class="widget-head">
                        <h4 class="heading">Serviço atual: {{ entity.gateway|upper }}</h4>
                    </div>
                    <div class="widget-body">
                        {{ form_errors(form) }}
                        <div class="row-fluid" style="margin-top: 30px; margin-bottom: 30px;">
                            <div class="span6">
                                {{ form_row(form.gateway) }}
                            </div>
                        </div>

                        <div class="form-actions left">
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% include 'AdminBundle::alerts.js.twig' %}
{% endblock %}