{% extends 'AdminBundle::dataList.html.twig' %}

{% block dataTitle %}
    Integração via API - Gerenciamento de Tokens
{% endblock %}

{% block buttonRight %}
    <a href="{{ path('api_token_new')}}" style="margin: 0px 0 2px 0;"
       class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Cadastrar
    </a>
{% endblock %}

{% block addButton %}
    Leia a documentação da API clicando: <a href={{ path('api_docs')}} target="_blank">Aqui</a>
{% endblock %}

{% block thead %}
    <th class="center">Título</th>
    <th class="center">Token</th>
    <th class="center">Módulo(s)</th>
    <th class="center" style="width: 200px;">Data Criação</th>
    <th class="center" style="width: 90px;">Ações</th>
{% endblock %}

{% block tbody %}
    {% for entity in entities %}
        <tr id="{{ entity.id }}" class="gradeX">
            <td>{{ entity.name }}</td>
            <td>{{ entity.token }}</td>
            <td class="center" width="auto">
                {{ resourceNames[entity.token] }}
            </td>
            <td class="center">{{ entity.created|date('d/m/Y H:i') }}</td>
            <td class="center">
                <a href="{{ path('api_token_edit', { 'id': entity.id }) }}"
                   class="btn-action glyphicons pencil btn-success" title="Editar"><i></i></a>

                <a href="#"
                   class="btn-action glyphicons remove_2 btn-danger delete-row"><i></i></a>
            </td>
        </tr>
    {% else %}
        <td>Nenhum Token cadastrado</td>
    {% endfor %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){

            $('tr.gradeX td.center a.delete-row').click(function(){
                var id = $(this).parent().parent().attr('id');
                var data = {'id' : id};
                var parent = $(this).parent().parent();

                bootbox.confirm("Deseja realmente excluir?", function(result){

                    if(result){

                        var route = Routing.generate('api_token_delete', { id: id });
                        $.ajax({
                            type: "POST",
                            url: route,
                            data: data,
                            dataType : "json",
                            success: function(response)
                            {
                                var title;

                                if (response.type == 'success') {
                                    title = 'Aviso!';
                                    parent.remove();
                                } else {
                                    title = "Erro ao tentar excluir!";
                                }

                                $.gritter.add({
                                    title: title,
                                    text: response.message
                                });
                            }
                        });
                    }
                });
            });

        });

    </script>
    {% include 'AdminBundle::alerts.js.twig' %}
{% endblock %}