{% form_theme form _self %}

<!DOCTYPE html>
<!-- [if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif] -->
<!-- [if IE 7]> <html class="ie lt-ie9 lt-ie8"> <![endif] -->
<!-- [if IE 8]> <html class="ie lt-ie9"> <![endif] -->
<!-- [if gt IE 8]> <html class="ie gt-ie8"> <![endif] -->
<!-- [if !IE]><! -->
<html>
  <!-- <![endif] -->
  <head>
    <title>Esqueci minha senha</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    {% if app.session.get('wspotClient') != null %}
      {% if app.session.get('wspotClient').isWhiteLabel == true %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />
      {% endif %}
    {% endif %}
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/admin/bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/admin/bootstrap/css/responsive.css') }}" rel="stylesheet" />

    <!-- Main Theme Stylesheet :: CSS -->
    <link href="{{ asset('bundles/admin/theme/css/style-light.css?1369414386') }}" rel="stylesheet" />
    {% include 'AdminBundle::adminCustomColor.html.twig' %}
  </head>
  <body class="login">
    <!-- Wrapper -->
    <div id="login">
      <!-- Box -->
      <div class="form-signin">
        <h3>Esqueci minha Senha - {{ whiteLabel.companyName }}</h3>

        <!-- Row -->
        <div class="row-fluid row-merge">
          <!-- Column -->
          <div class="span9">
            <div class="inner">
              <!-- Form -->
              <form action="" method="post">
                <label class="strong">Recuperação de senha</label>

                <p>Para recuperar sua senha, insira seu email no campo abaixo e siga as instruções que serão enviadas ao seu email.</p><br />
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, { attr: { class: 'input-block-level', placeholder: 'E-mail' } }) }}

                {% for flashMessage in app.session.flashbag.get('success') %}
                  <div class="strong" style="height: 20px; color: green;">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                  <div class="strong error-login" style="height: 20px; color: red;">{{ flashMessage }}</div>
                {% endfor %}

                <div class="row-fluid">
                  <div class="span4 center">
                    <a href="{{ path('login_admin') }}" class="btn btn-block btn-default">Voltar</a>
                  </div>
                  <div class="span4 center">
                    <button class="btn btn-block btn-primary" type="submit">Enviar</button>
                  </div>
                </div>
              </form>
              <!-- // Form END -->
            </div>
          </div>
          <!-- // Column END -->
        </div>
        <!-- // Row END -->
      </div>
      <!-- // Box END -->
    </div>
    <!-- // Wrapper END -->
  </body>
</html>
