{% form_theme form _self %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="ie gt-ie8"> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
<head>
    <title>Cadastrar senha</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/admin/bootstrap/css/bootstrap.css')}}" rel="stylesheet" />
    <link href="{{ asset('bundles/admin/bootstrap/css/responsive.css')}}" rel="stylesheet" />

    <!-- Main Theme Stylesheet :: CSS -->
    <link href="{{ asset('bundles/admin/theme/css/style-light.css?1369414386')}}" rel="stylesheet" />

</head>
<body class="login">

<!-- Wrapper -->
<div id="login">

    <!-- Box -->
    {% if success %}
        <div class="form-signin">
            <h3>Senha Cadastrada com sucesso!!!</h3>

            <div class="row-fluid">
                <div class="span12">
                    <div class="inner">
                        <div class="row-fluid">
                            <h5>Clique no botão abaixo para realizar o login:</h5>
                            <div class="span3" style="margin-top: 20px;">
                                <a href="{{ path('login_admin') }}" class="btn btn-block btn-info">Realizar Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="form-signin">
            <h3>Cadastrar Senha - {{ whiteLabel.companyName }}</h3>

            <!-- Row -->
            <div class="row-fluid">

                <!-- Column -->
                <div class="span12">
                    <div class="inner">

                        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                        {% form_theme form 'AdminBundle:Form:fields.html.twig' %}

                        {{ form_errors(form) }}

                        {{ form_row(form.password) }}

                        <div class="row-fluid">
                            <div class="span4" style="width:31%;">
                                <a href="{{ path('login_admin') }}" class="btn btn-block btn-info">Voltar</a>
                            </div>
                            <div class="span4" style="width:31%;">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
                <!-- // Column END -->
            </div>
            <!-- // Row END -->
        </div>
    {% endif %}
    <!-- // Box END -->

</div>
<!-- // Wrapper END -->

</body>
</html>
