{% extends 'AdminBundle::layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {% include 'AdminBundle::alerts.js.twig' %}
    <script  type="text/javascript" src="{{ asset('bundles/admin/frontend/js/hidenshow_twofactor.js')}}"> </script>#}
{% endblock %}

{% block content %}
    <h3 class="heading-mosaic">Perfil</h3>

    <div class="innerLR">

        <div class="widget widget-tabs border-bottom-none">
            <!-- Widget heading -->
            <div class="widget-head">
                <ul>
                    <li>
                        <a href="{{ path('admin_profile_edit') }}" class="glyphicons edit"><i></i>Editar</a>
                    </li>
                </ul>
                 <ul>
                    <li class="active">
                        <a href="{{ path('admin_profile_password_edit') }}" class="glyphicons edit" z><i></i>Redefinição de senha</a>
                    </li>
                </ul>
            </div>
            <!-- // Widget heading END -->
            <div class="widget-body">

                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                {% form_theme form 'AdminBundle:Form:fields.html.twig' %}

                <!-- Widget -->
                <div class="widget">
                    <!-- Widget heading -->
                    <div class="widget-head">
                        <h4 class="heading">Edição de dados cadastrais</h4>
                    </div>
                    <!-- // Widget heading END -->

                    <div class="widget-body">
                        <!-- Row -->
                        <div class="row-fluid" style="margin: 0 0 0 0;">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="user_profile_password_first">Senha atual</label>
                                    <div class="controls ">
                                        <input type="password" id="current_password" name="current_password" maxlength="16" class="span12">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="user_profile_password_first"></label>
                                    <div class="controls ">
                                        {% for flashMessage in app.session.flashbag.get('error2') %}
                                            <div class="strong error-login" style="height: 20px; color: red;">
                                                {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                {{ form_row(form.password) }}     
                                <div class="control-group  ">
                                <label class="control-label"></label>
                                    <div>
                                        {{ form_errors(form) }}
                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <div class="strong" style="height: 20px; color: green;">
                                                {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                                        {% for flashMessage in app.session.flashbag.get('error') %}
                                            <div class="strong error-login" style="height: 20px; color: red;">
                                                {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="controls">
                                        <strong>Requisitos de senha:</strong> <br>
                                        • Conter no mínimo 8 caracteres <br>
                                        • Conter letras maiúsculas <br>
                                        • Conter letras minúsculas <br>
                                        • Conter números <br>
                                        • Conter caracteres especiais (ex: $%#@*) <br>
                                    </div>
                                </div>                      
                            </div>                    
                        </div>                        
                        <!-- // Row END -->
                        <hr class="separator" id="two_factor_authentication_row_separator">
                        <hr class="separator">

                        <!-- Form actions -->
                        <div class="form-actions right">
                            <a href="{{ app.request.headers.get('referer') }}">
                                <button type="button" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>
                                    Cancelar
                                </button>
                            </a>

                            {{ form_widget(form.submit) }}
                        </div>
                        <!-- // Form actions END -->
                    </div>
                </div>
                <!-- // Widget END -->

                {{ form_end(form) }}


            </div>
            <!-- // Tab content END -->

        </div>
    </div>
    <!-- // Widget END -->
    </div>
{% endblock %}
