{% form_theme form _self %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="ie gt-ie8"> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
<head>
    <title>Esqueci minha senha</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/admin/bootstrap/css/bootstrap.css')}}" rel="stylesheet" />
    <link href="{{ asset('bundles/admin/bootstrap/css/responsive.css')}}" rel="stylesheet" />

    <!-- Main Theme Stylesheet :: CSS -->
    <link href="{{ asset('bundles/admin/theme/css/style-light.css?1369414386')}}" rel="stylesheet" />
    {% include "AdminBundle::adminCustomColor.html.twig" %}
</head>
<body class="login">

<!-- Wrapper -->
<div id="login">

    <!-- Box -->
    <div class="form-signin">
        <h3>Ops! Algo deu errado... </h3>

        <!-- Row -->
        <div class="row-fluid row-merge">

            <!-- Column -->
            <div class="span9">
                <div class="inner">
                    <div class="row-fluid">
                        <img src="{{ asset('bundles/admin/frontend/images/alert.png') }}" width="43px" height="41px" alt="">
                    </div><br>
                    <div class="row-fluid">
                         <p style="font-size: 25px; font-weight: bold">Este link não é mais válido :(</p>
                    </div><br>
                    <div class="row-fluid">
                        Esse link está expirado ou já foi utilizado.
                    </div><br>
                    <div class="row-fluid">
                        <div class="span4 center">
                            <a href="{{ path('login_admin') }}" class="btn btn-block btn-default">Voltar</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- // Column END -->
        </div>
        <!-- // Row END -->

    </div>
    <!-- // Box END -->

</div>
<!-- // Wrapper END -->

</body>
</html>
