{% extends 'AdminBundle:Admin:baseEmailTemplate.html.twig' %}

{% block content %}
    <tr>
        <td style="padding-left:30px;padding-bottom:5px;padding-right:30px;padding-top:15px;font-size:16px;line-height:24px;color:#444444">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#909090;font-family:Arial;">Olá, <a style="color: {{ whiteLabel.panelColor }}; font-weight: bold; text-decoration: none;">{{ name|default('Visitante') }}</a>!, tudo bem com você?</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-left:30px;padding-bottom:5px;padding-right:30px;padding-top:15px;font-size:16px;line-height:24px;color:#444444">
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#909090;font-family:Arial;">Sua senha de login à rede Wi-Fi da(o) <b style="color: {{ whiteLabel.panelColor }};">{{ whiteLabel.companyName }}</b> foi alterada com sucesso.</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-left:50px;padding-bottom:10px;padding-right:50px;padding-top:10px;">
            <table cellspacing="0" cellpadding="0" border="0" width="550">
                <tbody>
                {% if changeByAdmin == true %}
                    <tr>
                        <td style="padding: 30px 0px 30px 50px;font-size:20px;line-height:30px;color:#444444;font-family:Arial;background-color: #fbfbfb;font-weight: bold;">{% if resetPassword == true %}Nova Senha Temporária{% else %}Nova Senha{% endif %}: <a style="color: {{ whiteLabel.panelColor }}; font-weight: normal; text-decoration: none;">{{ password }}</a></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}

{% block footer %}
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#909090;font-family:Arial;">Se tiver dificuldade ou problemas é só entrar em contato com o administrador da rede <b style="color: {{ whiteLabel.panelColor }};">{{ station }}</b></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block signature %}
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="padding-right:20px;padding-left: 20px;padding-bottom:20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial;">Grande abraço,</td>
        </tr>

        {% if isWhiteLabel == 0 %}
            <tr>
                <td style="padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial; font-weight: bold;">Time Mambo WiFi</td>
            </tr>
        {% else %}
            <tr>
                <td style="padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial; font-weight: bold;">Time {{ whiteLabel.companyName }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
