{% extends 'AdminBundle::layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/admin/theme/scripts/plugins/forms/select2/select2.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/frontend/css/online-report.css') }}">
{% endblock %}

{% block content %}
{% include 'AdminBundle::header.html.twig' with {'title': 'Regras de Acesso'} %}

<div class="innerLR">

 <div class="widget widget-tabs border-bottom-none">
    <!-- Widget heading -->
    <div class="widget-head">
        <ul>
            <li class="active">
                <a class="glyphicons edit" data-toggle="tab"><i></i>Editar regra</a>
            </li>
        </ul>
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body">
        {% if (blockEnable == true) %}
            <div style="margin-bottom: 20px; color: #e04545;">
                Não é possível habilitar a funcionalidade de <b>Bloqueio por tempo</b> caso um dos módulos abaixo estejam ativos:
                <p>
                    <br><b>- Código de Acesso</b>
                    <br><b>- Horário de Funcionamento</b>
                    <br><b>- Confirmação de Cadastro por E-mail</b>
                </p>
            </div>
        {% endif %}

        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {% form_theme form 'AdminBundle:Form:fields.html.twig' %}

        <!-- Widget -->
        <div class="widget">
            <!-- Widget heading -->
            <div class="widget-head">
                <h4 class="heading"><span style="color: red">**</span>Edição da regra de acesso</h4>
            </div>

            <div class="widget-body">

                <div class="row-fluid">
                    <div class="span12 alert alert-yellow">
                        Ao editar essa regra, todos os visitantes que possuem <b>tempo de expiração</b> de acesso serão
                        atualizados e o valor será zerado, para que no próximo acesso o novo valor de tempo de expiração
                        seja definido.
                        <br/><br/>
                        Informação válida apenas para os módulos de <b>Bloqueio por tempo</b> e <b>Validade de Acesso</b>.
                        <br/><br/>
                        <b>OBSERVAÇÃO</b>: Regras de acesso, como tempo limite e limite de banda NÃO funcionam com PFSense por conta do mesmo não aceitar os parâmetros enviados via Radius.
                        <br/>
                        Nesse caso, essas regras devem ser feitas manualmente na configuração do PFSense.
                    </div>
                </div>

                <!-- Row -->
                <div class="row-fluid" style="margin: 10px 0;">
                    <div class="span6">
                       {% if group.default %}
                           <h3>{{ group.name }}</h3>
                       {% endif %}
                        {{ form_row(form.name) }}
                    </div>
                    <div class="span6">

                    </div>
                </div>
                <!-- // Row END -->

                <hr class="separator">
                <!-- Row -->
                <div class="row-fluid " style="margin:0 auto;">
                    {% for config in defaultConfigurations %}
                        <!-- Column -->
                        <div class="span4" style="padding: 1em;">
                            <h4 style="margin-bottom: 10px;">{{ config.category }}</h4>
                            <label>
                                <p>{{ config.description }}</p>
                            </label>

                            {% if config.shortcode == 'block_per_time'  %}
                                {{ form_label(form.enable_block_per_time) }}
                                {{ form_widget(form.enable_block_per_time) }}

                                <div id="fields_block_per_time" class={% if form.enable_block_per_time.vars.data == 0 %}"hide"{% endif %}>
                                    {{ form_label(form.block_per_time_time, null, { 'label_attr': {'class': 'tip'} }) }}
                                    <i class="icon-large icon-question-sign" tabindex="0" data-placement="right" role="button" data-toggle="popover" data-trigger="focus" data-content="{{ config.configurationValues[1].tip }}"></i>
                                    <div class="clear"></div>
                                    {{ form_widget(form.block_per_time_time) }}
                                    {{ form_errors(form.block_per_time_time) }}
                                    <p style="color:red">Ex. 4d 12h 5m</p>

                                    {{ form_label(form.block_per_time_period, null, { 'label_attr': {'class': 'tip'} }) }}
                                    <i class="icon-large icon-question-sign" tabindex="0" data-placement="right" role="button" data-toggle="popover" data-trigger="focus" data-content="{{ config.configurationValues[2].tip }}"></i>
                                    <div class="clear"></div>
                                    {{ form_widget(form.block_per_time_period) }}
                                    {{ form_errors(form.block_per_time_period) }}
                                    <p style="color:red">Ex. 4d 12h 5m</p>
                                </div>
                            {% endif %}

                            {% if config.shortcode == 'validity_access'  %}
                                {{ form_label(form.enable_validity_access) }}
                                {{ form_widget(form.enable_validity_access) }}

                                <div id="fields_validity_access" class={% if form.enable_validity_access.vars.data == 0 %}"hide"{% endif %}>
                                    {{ form_label(form.validity_access_date_limit) }}
                                    {{ form_widget(form.validity_access_date_limit) }}
                                    {{ form_errors(form.validity_access_date_limit) }}
                                    <p style="color:red">Ex. {{ "now"|date('d/m/Y') }} 23:59</p>
                                </div>
                            {% endif %}

                            {% if config.shortcode == 'bandwidth'  %}
                                {{ form_label(form.enable_bandwidth) }}
                                {{ form_widget(form.enable_bandwidth) }}
                                <div id="fields_bandwidth" class={% if form.enable_bandwidth.vars.data == 0 %}"hide"{% endif %}>
                                    {{ form_label(form.bandwidth_download_limit) }}
                                    {{ form_widget(form.bandwidth_download_limit) }}
                                    {{ form_errors(form.bandwidth_download_limit) }}

                                    {{ form_label(form.bandwidth_upload_limit) }}
                                    {{ form_widget(form.bandwidth_upload_limit) }}
                                    {{ form_errors(form.bandwidth_upload_limit) }}
                                </div>

                            {% endif %}

                        </div>
                        <!-- // Column END -->
                    {% endfor %}
                </div>
                <!-- // Row END -->

            </div>
        </div>
        <!-- // Widget END -->

        <div class="row-fluid">
            <div class="span12">
                <div class="widget row-fluid colors">
                    <div class="widget-head">
                        <h4 class="heading"><span style="color: red">**</span> Qual Ponto(s) de Acesso e/ou Grupo(s) de Ponto de Acesso o visitante será incluso ao se cadastrar ?</h4>
                    </div>
                    <div class="row-fluid" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="span12" style="padding: 1em">
                            <div class="checkbox-group required" id="checkBoxGroup">
                                <p>Para a inclusão do visitante, oferecemos duas opções, por favor escolha uma:</p>
                                <label class="container-checkbox">
                                    <input type="checkbox" id="manualChkBox" /><strong> Manual:</strong> padrão, o visitante sempre será cadastrado na regra visitantes.
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container-checkbox">
                                    <input type="checkbox" id="autoChkBox" /><strong> Automática:</strong> você nos informa quais são os Grupos de Ponto de Acesso e/ou Pontos de Acesso, no qual o visitante ao se cadastrar, será inserido automaticamente.
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="span12">
                            <ul class="ap-list-pills" id="ap-pills-container"></ul>
                            <div>
                                <hr class="divider" />
                                <a data-toggle="modal" href="#ap-groups-modal" class="btn btn-primary" id="btnAddApGroup" type="button" style="visibility: hidden">Selecionar pontos e Regras</a>
                                <a class="btn btn-default" id="cleanBtnApGroup" type="button" onclick="clearStore(); return false;" style="visibility: hidden">Limpar seleção</a>
                            </div>
                        </div>
                    </div>
                </div>
                <span style="color: red">&nbsp;&nbsp;&nbsp; ** Campo obrigatório</span>
            </div>
        </div>

        <!-- Modal select ap and ap group -->
        <div class="modal fade" id="ap-groups-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding: 10px 10px 0 10px">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Busca de pontos de acesso e Regras</h4>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 5px; text-align: center">
                            <p style="color: red">Atenção, esta busca retorna somente pontos de acesso e/ou grupos de pontos de acesso que não estejam vinculados a outra Regras de Acesso</p>
                            <input style="padding: 5px; margin: 0;" title="Search box" type="text" name="search-ap-and-groups"
                                   onkeyup="onKeyPressSearchInput(this, {{ apIdsThatAreBeingUsed }}, {{ groupsThatAreBeingUsed }})" />
                            <button class="btn btn-default" onclick="selectAllInApiList(); return false;">Selecionar todos da lista</button>
                        </div>
                        <div>
                            <hr class="divider" />
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th class="center">Nome</th>
                                    <th class="center">Tipo</th>
                                    <th class="center">Ação</th>
                                </tr>
                                </thead>
                                <tbody id="ap-search-container">
                                {#load in js#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <input type="hidden" id="wideti_AdminBundle_guest_group_apsAndGroups" name="wideti_AdminBundle_guest_group[apsAndGroups]" value="[]" readonly>
        <input type="hidden" id="groupId" value="{{ group.id }}" readonly>

        <!-- Form actions -->
        <div class="form-actions right">
            <a href="{{ path('group_list') }}">
                <button type="button" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>
                    Cancelar
                </button>
            </a>
            {{ form_widget(form.submit) }}
        </div>
        <!-- // Form actions END -->
        {{ form_end(form) }}

    </div>
    <!-- // Tab content END -->

    </div>
    </div>
	<!-- // Widget END -->
 </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script>
        $('#wspot_group_form_enable_bandwidth').bind("DOMSubtreeModified",function(){
            bootbox.dialog("<h3>{{ user.nome }}</h3>" +
                "A alteração no limite de banda será aplicado nas próximas autenticações, para quem já está autenticado não será aplicado.<br/>"+
                "Caso queira testar e já esteja conectado em algum dispositivo (celular/notebook), aconselhamos autenticar em um novo dispositivo. <br/>"
                , [{
                    "label" : "Continuar",
                    "class" : "btn-primary",
                }]);
        });
    </script>

    <script src="{{ asset('bundles/admin/frontend/js/jquery.maskedinput.js') }}"></script>
    <script src="{{ asset('bundles/admin/bootstrap-colorpicker/js/bootstrap-colorpicker.js')}}"></script>
    <script src="{{ asset('bundles/admin/bootstrap-colorpicker/js/docs.js')}}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/color/farbtastic/farbtastic.js') }}"></script>
    <script src="{{ asset('bundles/admin/frontend/js/dojo/dojo.js') }}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/forms/chosen/chosen-dojo.js')}}"></script>
    <script src="{{ asset('bundles/admin/frontend/js/guestGroup.js')}}"></script>

    <script type="text/javascript">
        var guestGroupId = null;
        {% if group.id %}
           guestGroupId = $('#groupId').val();
        {% endif %}
        if (guestGroupId) {
            loadApAndGroupListOnUpdade(guestGroupId, function(result, error) {
                if (error) {
                    console.log(error);
                }
                pillStore = result;
                if (pillStore.length > 0) {
                    var autoChkBox = $('#autoChkBox');
                    var btnAddApGroup = $('#btnAddApGroup');
                    var cleanBtnApGroup = $('#cleanBtnApGroup');
                    autoChkBox.prop('checked', true);
                    btnAddApGroup.css('visibility', 'visible');
                    cleanBtnApGroup.css('visibility', 'visible');
                }
                renderAllView();
            });
        } else {
            renderAllView();
        }

        {% if group.inAccessPoints == false %}
            var manualChkBox = $('#manualChkBox');
            manualChkBox.prop('checked', true);
            $('#no-aps-selected').remove();
        {% endif %}
    </script>

    <script>
        $(document).ready(function(){
            $('#wspot_group_form_enable_block_per_time').on('change',function(){
                var check = $(this).attr('checked');
                if(check) {
                    $('#fields_block_per_time').removeClass('hide');
                } else {
                    $('#fields_block_per_time').addClass('hide');
                }
            });

            $('#wspot_group_form_enable_validity_access').on('change',function(){
                var check = $(this).attr('checked');
                if(check) {
                    $('#fields_validity_access').removeClass('hide');
                } else {
                    $('#fields_validity_access').addClass('hide');
                }
            });

            $('#wspot_group_form_enable_bandwidth').on('change',function(){
                var check = $(this).attr('checked');
                if(check) {
                    $('#fields_bandwidth').removeClass('hide');
                } else {
                    $('#fields_bandwidth').addClass('hide');
                }
            });
        });

        $('.mask-date').mask('99/99/9999 99:99', {selectOnFocus: true, clearIfNotMatch: true, placeholder:"__/__/____ __:__"});
    </script>

{% endblock %}
