{% extends 'FrontendBundle::index.html.twig' %}

{% block container %}
    <section class="container singleBox">
        <div id="registrationBox" class="boxes complete fullBox">
            <div class="box-content">
                <h3>{{ 'wspot.login_page.complete_registration' | trans }}</h3><br/>
                {% form_theme form 'FrontendBundle:Form:frontendCustomForm.html.twig' %}
                {{ form_start(form, {attr: {novalidate: 'novalidate', 'id': 'signupForm'} }) }}

                {% if error is defined %}
                    {% set email_error = '<br><strong>' ~ error ~ '</strong>' %}
                {% endif %}

                <div class="text">
                    {{ 'wspot.login_page.complete_registration_welcome' | trans }}

                    {% if ('gender' in facebookFields) %}
                        {{ (facebookFields.gender == 'female') ? 'wspot.login_page.complete_registration_gender_w' | trans : 'wspot.login_page.complete_registration_gender_m' | trans }}
                    {% else %}
                        {{ 'wspot.login_page.complete_registration_gender_m' | trans }}
                    {% endif %}

                    <b>{{ data.name|default('') }}</b><br/>
                    {{ 'wspot.login_page.complete_registration_instructions' | trans }} <br/><br/>
                </div>

                {% for property in form.properties %}
                    {% if data[data.field_login] == property.vars.value and data[data.field_login] is not null %}
                        {{ form_row(property,{'read_only':true}) }}
                    {% endif %}
                    {% if (property.vars.id == 'social_media_registration_properties_email') %}
                        {% set emailValue = form.properties.email.vars.value %}
                        {% set emailErrors = form.properties.email.vars.errors|length %}

                        {% if emailValue and emailErrors == 0 %}
                            {{ form_row(property,{'read_only':true}) }}
                            {{ (email_error is defined) ? email_error|raw }}
                        {% else %}
                            {{ form_row(property) }}
                            <div id="email_validate"></div>
                        {% endif %}
                    {% elseif (property.vars.id == 'social_media_registration_properties_upn') %}
                        {% set upnValue = form.properties.upn.vars.value %}
                        {% set upnErrors = form.properties.upn.vars.errors|length %}

                        {% if upnValue and upnErrors == 0 %}
                            {{ form_row(property,{'read_only':true}) }}
                            {{ (email_error is defined) ? email_error|raw }}
                        {% else %}
                            {{ form_row(property) }}
                            <div id="email_validate"></div>
                        {% endif %}
                    {% elseif (property.vars.id == 'social_media_registration_properties_name')  %}
                        {{ form_row(property) }}
                        <div id="name_validate"></div>
                    {% endif %}
                    {{ form_row(property) }}
                {% endfor %}

                <div class="content" style="display: inline-block; text-align: left;">
                    {% if config.authorize_email == 1 %}
                        <div class="authorize_email">
                            {{ form_row(form.authorizeEmail) }}
                            {% if (app.request.locale == 'pt_br') %}
                                {{ config.content_authorize_email_pt }}
                            {% elseif (app.request.locale == 'en') %}
                                {{ config.content_authorize_email_en }}
                            {% else %}
                                {{ config.content_authorize_email_es }}
                            {% endif %}
                            <p id="social_media_registration_authorize_email_required-error" class="error authorize_email" for="social_media_registration_authorize_email_required" style="display: none;">
                                {{ 'wspot.signup_page.field_required'|trans }}
                            </p>
                        </div>
                    {% endif %}

                    {% if (config.terms_required == 1) %}
                        <div class="termsOfUse">
                            <input type="checkbox" id="social_media_registration_terms_required" name="social_media_registration_terms_required" checked="checked" placeholder="" value="1">
                            {{ 'wspot.login_page.terms_required_msg1'|trans }}
                            <a href="{{ path('frontend_terms_of_use') }}" title="{{ 'wspot.login_page.terms_required_msg2'|trans }}">
                                {{ 'wspot.login_page.terms_required_msg2'|trans }}
                            </a>
                            <p id="social_media_registration_terms_required-error" class="error terms" for="social_media_registration_terms_required" style="display: none;">
                                {{ 'wspot.signup_page.terms_required'|trans }}
                            </p>
                        </div>
                    {% endif %}

                    <div class="termsOfUse">
                        {% if activeLegalBase.legalKind.key == constant('Wideti\\DomainBundle\\Entity\\LegalKinds::TERMO_CONSENTIMENTO') %}
                            <input type="checkbox" id="social_media_registration_consent_term" name="social_media_registration_consent_term" style="float: left;margin-right: 4px;margin-top: 6px;">
                            <p>{{ 'wspot.consent_term.link'|trans | replace({'%consentTermPageUrl%': path('frontend_consent_term')}) | raw }}</p>

                            {% if consentTermNotAccepted is defined and consentTermNotAccepted == true %}
                                <label id="social_media_registration_consent_term-error" class="error" for="social_media_registration_consent_term">
                                    {{ 'wspot.generic.field_required'|trans }}
                                </label>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <a style="margin-left: 0 !important; display: none; height: 26px !important;" id="loaderBtnSignUp" class="btnLoader">
                    <img src="{{ asset(assets_path ~'/images/ico-loader.gif') }}" />
                </a>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#signupForm').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        function disableSubmitButton()
        {
            $('#social_media_registration_cadastrar').attr('onclick', 'return false');
        }

        function enableSubmitButton()
        {
            $('#social_media_registration_cadastrar').attr('onclick', 'return true');
        }

        function submitButtonControl(status, field)
        {
            $(field).attr('error', status);

            var name        = $('#social_media_registration_properties_name').attr('error');
            var email       = $('#social_media_registration_properties_email').attr('error');
            var phone       = $('#social_media_registration_properties_phone').attr('error');
            var optIn       = $('#social_media_registration_authorizeEmail').attr('error');
            var termsOfUse  = $('#social_media_registration_terms_required').attr('error');

            var fields = {name, email, phone, optIn, termsOfUse};

            $.each(fields, function(i, val) {
                if (val === "true") {
                    disableSubmitButton();
                    return false;
                }
                enableSubmitButton()
            });
        }

        jQuery(document).ready(function() {
            $("#social_media_registration_properties_email").attr('autocomplete', 'on');

            var phoneField = $('#social_media_registration_properties_phone');

            $('#social_media_registration_properties_phone').on('keyup blur', function () {
                if($('.selected-flag').attr("title") != "Brasil: +55") {
                    $("#social_media_registration_properties_phone").rules("remove", 'minlength');
                    $("#signupForm").validate().resetForm();
                }
            });

            // i18n phone flags and country code
            // https://github.com/jackocnr/intl-tel-input#options
            $('input[type=tel]').on("keyup", function() {
                if (($(this).intlTelInput("getSelectedCountryData").name == "Brasil") && ($(this).val().length == 2)) {
                    var regexPattern = "((([1,4,6,8,9][1-9])|(2[1,2,4,7,8])|(3[1-8])|(4[1-9])|(5[1-5])|(7[1,3,4,5,7,9])))",
                        regex = new RegExp(regexPattern);

                    if (!regex.test($(this).val())) {
                        $(this).val('').focus();
                        submitButtonControl(true, $(this));
                    } else {
                        submitButtonControl(false, $(this));
                    }
                }
            });

            $('#social_media_registration_properties_name').on("focusout", function(){
                var regexPattern = /^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/;
                var regex = new RegExp(regexPattern);
                var resutl = regexPattern.exec($(this).val());

                if (!regexPattern.test($(this).val())) {
                    $('#name_validate').empty().prepend('<label id="email_validate_error" for="social_media_registration_properties_nome">{{ "wspot.invalid_name.name_validate_error"|trans }}</label>');
                    submitButtonControl(true, $(this));
                } else {
                    $('#name_validate').empty();
                    submitButtonControl(false, $(this));
                }
            });

            var mobileField = $('#social_media_registration_properties_mobile');
            var phoneCodeField = $('#social_media_registration_country-code-phone');
            var mobileCodeField = $('#social_media_registration_country-code-mobile');

            var countryData = $.fn.intlTelInput.getCountryData();
            $.each(countryData, function(i, country) {
                country.name = country.name.replace(/.+\((.+)\)/,"$1").substring(0, 20);
            });

            // add field to phone input
            phoneField.intlTelInput({
                initialCountry: 'BR',
                preferredCountries: ['br']
            });
            phoneField.attr('autocomplete', 'on');

            mobileField.intlTelInput({
                initialCountry: 'BR',
                preferredCountries: ['br']
            });
            mobileField.attr('autocomplete', 'on');

            // Add the first code on page load, by default is Br (55)
            phoneCodeField.val(phoneField.intlTelInput("getSelectedCountryData").dialCode);
            mobileCodeField.val(mobileField.intlTelInput("getSelectedCountryData").dialCode);

            // on change country, change de value of input hidden
            phoneField.on('countrychange', function(e, countryData){
                phoneCodeField.val(countryData.dialCode);
            });

            mobileField.on('countrychange', function(e, countryData){
                mobileCodeField.val(countryData.dialCode);
            });

            $('#social_media_registration_terms_required').on('change', function(){
                if (!$(this).is(':checked')) {
                    submitButtonControl(true, $(this));
                    $('#social_media_registration_terms_required-error').show();
                } else {
                    submitButtonControl(false, $(this));
                    $('#social_media_registration_terms_required-error').hide();
                }
            });

            var requiredOptIn = '{{ requiredOptIn }}';

            if (requiredOptIn) {
                $('#social_media_registration_authorizeEmail').on('change', function(){
                    if (!$(this).is(':checked')) {
                        submitButtonControl(true, $(this));
                        $('#social_media_registration_authorize_email_required-error').show();
                    } else {
                        submitButtonControl(false, $(this));
                        $('#social_media_registration_authorize_email_required-error').hide();
                    }
                });
            }

            $('#social_media_registration_properties_email').keyup(function(){
                $(this).val($(this).val().toLowerCase());
            });

            var bounceValidator = '{{ bounceValidator }}';

            if (bounceValidator == 1) {
                $('#social_media_registration_properties_email').change(function() {
                    setTimeout(function(){
                        if (!$('#social_media_registration_properties_email').hasClass('error')) {
                            $('#social_media_registration_cadastrar').attr('onclick', 'return false');
                            $('#email_validate').empty().prepend('<label id="email_validate_process" class="info" for="social_media_registration_properties_email">{{ "wspot.invalid_email.email_validate_process"|trans }}</label>');

                            var data  = {
                                'email' : $('#social_media_registration_properties_email').val()
                            };

                            var route = Routing.generate('email_validate');

                            $.ajax({
                                type: "POST",
                                url: route,
                                data: data,
                                dataType: "json",
                                timeout: 10000,
                                success: function(response)
                                {
                                    $('#email_validate').empty().prepend('<label id="email_validate_success" class="success" for="social_media_registration_properties_email">{{ "wspot.invalid_email.email_validate_success"|trans }}</label>');
                                    $('#social_media_registration_properties_emailValidate').val(response);
                                    submitButtonControl(false, $('#social_media_registration_cadastrar'));
                                },
                                error: function(response, status)
                                {
                                    if (status == 'timeout') {
                                        $('#email_validate').empty();
                                        $('#social_media_registration_cadastrar').removeAttr('onclick');
                                        submitButtonControl(false, $('#social_media_registration_cadastrar'));
                                    } else {
                                        $('#social_media_registration_properties_emailValidate').val('');
                                        $('#email_validate').empty().prepend('<label id="email_validate_error" for="social_media_registration_properties_email">{{ "wspot.invalid_email.email_validate_error"|trans }}</label>');
                                    }
                                }
                            });
                        }
                    }, 100);
                });
            }

            {% if(app.request.locale != 'pt_br') %}
                $("span.label-important").each( function(){
                    if($(this).text() == 'Domínio de e-mail não permitido') {
                        $(this).text('Email disallowed domain');
                    }
                });
            {% endif %}

            if(window.location.pathname.indexOf('finalizar_cadastro') >= 0){
                jQuery('#loginBox').show();
            }

            jQuery('#social_media_registration_properties_phone').attr('maxlength','15');
            jQuery("#social_media_registration_properties_document").attr('maxlength','14');

            $('.country').on('click', function () {
                if ($(this).attr("data-dial-code") != "55") {
                    $("#social_media_registration_properties_phone").rules("remove", 'minlength');
                    $("#signupForm").validate().resetForm();
                }
            });

            $('#signupForm').on('submit', function () {
                if ($('.selected-flag').attr("title") != "Brasil: +55") {
                    $("#social_media_registration_cadastrar").attr("formnovalidate","formnovalidate");
                }else{
                    $("#social_media_registration_cadastrar").removeAttr("formnovalidate");
                }
            });

            $("span.label-important").each( function(){
                if($(this).text() == 'Este valor já está a ser usado.') {
                    $(this).text('Este valor já está sendo usado.');
                }
            });

            var data = {
                'field': ['city']
            };

            var route = Routing.generate('check_field_exists');

            $.ajax({
                type: "POST",
                url: route,
                data: data,
                dataType : "json",
                success: function(response)
                {
                    if (response) {
                        listCities();
                    }
                }
            });
        });

        function listCities(){
            var route = Routing.generate('frontend_load_cities');

            $.ajax({
                type: "POST",
                url: route,
                dataType : "json",
                success: function(response)
                {
                    $("#social_media_registration_properties_city").autocomplete({
                        source: response
                    });
                }
            });
        }

        emailAutoCompleteDomain({
            0: '#social_media_registration_properties_email'
        });
    </script>
{% endblock %}