{% set plan = app.session.get('plan') %}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span3">

                {% if plan == false %}
                    <a class="widget-stats widget-stats-2">
                        <span class="glyphicons cloud-download" style="opacity: 0.5;"><i></i></span>
                        <span class="txt"><span class="count"
                                                style="font-size: 20px!important;">Disponível no plano PRO</span><br><span
                                    style="opacity: 0.5;"> Download Ontem </span> </span>
                        <div class="clearfix"></div>
                    </a>
                {% else %}
                    <a class="widget-stats widget-stats-2">
                        <span class="glyphicons cloud-download"><i></i></span>
                        <span class="txt"><span class="count">{{ downloadLastDay | format_bytes }}</span><br> Download Ontem  </span>
                        <div class="clearfix"></div>
                    </a>
                {% endif %}
            </div>
            <div class="span3">
                {% if plan == false %}
                    <a class="widget-stats widget-stats-2">
                        <span class="glyphicons cloud-upload" style="opacity: 0.5;"><i></i></span>
                        <span class="txt"><span class="count" style="font-size: 20px !important;">Disponível no plano PRO</span><br> <span
                                    style="opacity: 0.5;">Upload Ontem</span></span>
                        <div class="clearfix"></div>
                    </a>
                {% else %}
                    <a class="widget-stats widget-stats-2">
                        <span class="glyphicons cloud-upload"><i></i></span>
                        <span class="txt"><span class="count">{{ uploadLastDay | format_bytes }}</span><br> Upload Ontem</span>
                        <div class="clearfix"></div>
                    </a>
                {% endif %}

            </div>
            <div class="span3">

                {% if plan == false %}
                    <a class="widget-stats widget-stats-2">
                        <span class="glyphicons download" style="opacity: 0.5;"><i></i></span>
                        <span class="txt">
                        <span class="count" style="font-size: 20px!important;">Disponível no plano PRO</span><br> <span
                                    style="opacity: 0.5;">Download</span>
                    </span>
                        <p style="color: #a3a3a3; font-weight: 400;opacity: 0.5;">no período selecionado</p>
                        <div class="clearfix"></div>
                    </a>
                {% else %}
                    <a class="widget-stats widget-stats-2">
                        <span style="position: absolute;right: 5%;width: 40px;top: 3%;height: 20px;">
                                        <i id="tooltipIcon" class="icon-large icon-question-sign" tabindex="0"
                                           data-placement="top" role="button" data-toggle="popover" data-trigger="focus"
                                           data-html="true" data-content="Dados atualizados em: {{ "now"|date_modify("-1 day")|date("d/m/Y") }}"></i>
                        </span>
                        <span class="glyphicons download"><i></i></span>
                        <span class="txt">
                        <span class="count">{{ downloadTotal | format_bytes }}</span><br> Download
                    </span>
                        <p style="color: #a3a3a3; font-weight: 400;">no período selecionado</p>
                        <div class="clearfix"></div>
                    </a>
                {% endif %}
            </div>
            <div class="span3">
                {% if plan == false %}
                    <a class="widget-stats widget-stats-2">
                        <span class="glyphicons upload" style="opacity: 0.5;"><i></i></span>
                        <span class="txt">
                        <span class="count" style="font-size: 20px!important;">Disponível no plano PRO</span><br>  <span
                                    style="opacity: 0.5;">Upload</span>
                    </span>
                        <p style="color: #a3a3a3; font-weight: 400;">no período selecionado</p>
                        <div class="clearfix"></div>
                    </a>
                {% else %}
                    <a class="widget-stats widget-stats-2">
                        <span style="position: absolute; right: 5%;width: 40px;top: 3%;height: 20px;">
                                        <i id="tooltipIcon2" class="icon-large icon-question-sign" tabindex="0"
                                           data-placement="top" role="button" data-toggle="popover" data-trigger="focus"
                                           data-html="true" data-content="Dados atualizados em: {{ "now"|date_modify("-1 day")|date("d/m/Y") }}"></i>
                        </span>
                        <span class="glyphicons upload"><i></i></span>
                        <span class="txt">
                        <span class="count">{{ uploadTotal | format_bytes }}</span><br> Upload
                    </span>
                        <p style="color: #a3a3a3; font-weight: 400;">no período selecionado</p>
                        <div class="clearfix"></div>
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<div class="row-fluid" style="margin-top:10px;">
    <div class="span6">
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading glyphicons stats"><i></i>Dados de visitas <span>no período selecionado</span></h4>
            </div>
            <div class="widget-body list">
                {% if plan == false %}
                    <ul>
                        <li>
                            <span class="count"> Disponível no plano PRO </span>
                            Tempo médio de acesso
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            <span class="count"> {{ (averageConnectionTime) ? averageConnectionTime : '00:00' }} </span>
                            Tempo médio de acesso
                        </li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="span6">
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading glyphicons charts"><i></i>Top 5 pontos de acesso com mais tráfego <span>no período selecionado</span>
                </h4>
            </div>
            <span><b>Dados atualizados em: {{ "now"|date_modify("-1 day")|date("d/m/Y") }}</b></span>
            <div class="widget-body">
                {% if plan == false %}
                    <p style="font-size: 20px;">Disponível no plano PRO</p>
                {% else %}
                    <div id="chart_donut" style="height: 250px; text-align: center; ">
                        <img src="{{ asset('bundles/admin/theme/images/ajax-loader.gif') }}"
                             style="padding-top: 110px;"/>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    jQuery("#tooltipIcon").on("click", function (e) {
        $('#tooltipIcon').popover("show");
    });

    jQuery("#tooltipIcon2").on("click", function (e) {
        $('#tooltipIcon2').popover("show");
    });

    var chartAccess = {{ chartAccess|json_encode|raw }};
    setNetworkTabCharts(chartAccess);
</script>
