{% extends 'AdminBundle::reportList.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="">
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/admin/theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart.css') }}"
          rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
    <link href="{{ asset('bundles/admin/theme/scripts/plugins/forms/chosen/chosen.css')}}" rel="stylesheet" />
{% endblock %}

{% block dataTitle %}
    Campanhas - Botão de Interesse (CTA)
{% endblock %}

{% block table %}

    <div class="row-fluid">

        <div class="span6">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading">
                        Campanhas com mais cliques
                        <span>Top 10</span>
                    </h4>
                </div>
                <div class="widget-body">
                    <table class="dynamicTable table table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Campanha</th>
                            <th>Total</th>
                            <th width="20%" style="text-align: center;">Detalhar</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for views in campaignViews %}

                            {% set params = app.request.query.all|merge({ 'id': views.id }) %}

                            <tr class="gradeX">
                                <td>{{ views.campanha }}</td>
                                <td>{{ views.quantidade }} cliques</td>
                                <td style="text-align: center;">
                                    <a href="{{ path('admin_campaign_cta_report_detail', params) }}"
                                       class="btn-action glyphicons eye_open btn-info"><i></i></a>
                            </tr>
                        {% else %}
                            <tr class="gradeX">
                                <td colspan="3">Nenhum registro de interação com o 'Botão de Interesse (CTA)' neste período.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading glyphicons charts">
                        <i></i>
                        Cliques <span>Baseado em Campanhas</span>
                    </h4>
                </div>
                <div class="widget-body">
                    <div id="chart_donut_campaign_views" style="height: 250px; text-align: center;">
                        <img src="{{ asset('bundles/admin/theme/images/ajax-loader.gif') }}" style="padding-top: 110px;" />
                    </div>
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading glyphicons charts">
                        <i></i>
                        Dias da semana <span>com mais cliques</span>
                    </h4>
                </div>
                <div class="widget-body">
                    <div id="clicks_per_day_group" style="height: 250px; text-align: center;">
                        <img src="{{ asset('bundles/admin/theme/images/ajax-loader.gif') }}" style="padding-top: 110px;" />
                    </div>
                </div>
            </div>

            <div class="widget">
                <div class="widget-head">
                    <h4 class="heading glyphicons charts">
                        <i></i>
                        Horários <span>com mais cliques</span>
                    </h4>
                </div>
                <div class="widget-body">
                    <div id="clicks_per_hour_group" style="height: 250px; text-align: center;">
                        <img src="{{ asset('bundles/admin/theme/images/ajax-loader.gif') }}" style="padding-top: 110px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart.js')}}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.js')}}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.tooltip.js') }}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.pie2.js')}}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.resize.min.js')}}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.categories.min.js')}}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.time.js')}}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/demo/charts.helper.js') }}"></script>

    <script src="{{ asset('bundles/admin/frontend/js/dojo/dojo.js') }}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/forms/chosen/chosen-dojo.js')}}"></script>

    <script>
        dojo.ready(function() {
            dojo.query("#campaignReportFilter_campaign").chosen({batch_select:true});
            dojo.query("#campaignReportFilter_access_point").chosen({batch_select:true});
        });

        $('#campaignReportFilter_date_from').on('change', function(){
            var initDate = $(this).val();
            var dmy = initDate.split("/");
            var joindate = new Date(
                    parseInt(dmy[2], 10),
                    parseInt(dmy[1], 10) - 1,
                    parseInt(dmy[0], 10)
            );

            joindate.setDate(joindate.getDate() + 30);

            var maxDate = ("0" + joindate.getDate()).slice(-2) + "/" +
                    ("0" + (joindate.getMonth() + 1)).slice(-2) + "/" +
                    joindate.getFullYear();

            $( "#campaignReportFilter_date_to" ).datepicker({
                maxDate: maxDate
            }).datepicker("option", "maxDate", maxDate);

        });

        // daterange
        if ($('#campaignReportFilter_date_from').length && $('#campaignReportFilter_date_to').length)
        {
            $( "#campaignReportFilter_date_from" ).datepicker({
                defaultDate: "+1w",
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior',
                changeMonth: false,
                numberOfMonths: 1,
                onClose: function( selectedDate ) {
                    $( "#campaignReportFilter_date_to" ).datepicker( "option", "minDate", selectedDate );
                }
            }).datepicker( "option", "maxDate", $('#maxDate').text() );

            $( "#campaignReportFilter_date_to" ).datepicker({
                defaultDate: "+1w",
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                changeMonth: false,
                nextText: 'Próximo',
                prevText: 'Anterior',
                numberOfMonths: 1,
                onClose: function( selectedDate ) {
                    $( "#campaignReportFilter_date_from" ).datepicker( "option", "maxDate", selectedDate );
                }
            }).datepicker( "option", "minDate", $('#campaignReportFilter_date_to').val() );
        }

        charts.initViewsChart(
            {{ moreClicksChart | json_encode | raw }}
        );

        var catPerDayGraph      = {{ clicksByDayOfWeekChart.categories | json_encode | raw }};
        var valuesPerDayGraph   = {{ clicksByDayOfWeekChart.values | json_encode | raw }};

        $('#clicks_per_day_group').highcharts({
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: catPerDayGraph
            },
            yAxis: [{
                min: 0,
                title: {
                    text: ''
                }
            }, {
                title: {
                    text: ''
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            plotOptions: {
                column: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Cliques',
                color: '#444444',
                data: valuesPerDayGraph,
                pointPadding: -0.2,
                pointPlacement: -0.1
            }],
            lang: {
                noData: "Nenhum registro neste período."
            }
        });

        var catPerHourGraph      = {{ clicksByHourChart.categories | json_encode | raw }};
        var valuesPerHourGraph   = {{ clicksByHourChart.values | json_encode | raw }};

        $('#clicks_per_hour_group').highcharts({
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: catPerHourGraph
            },
            yAxis: [{
                min: 0,
                title: {
                    text: ''
                }
            }, {
                title: {
                    text: ''
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            plotOptions: {
                column: {
                    grouping: false,
                    shadow: false,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Cliques',
                color: '{{ whiteLabel.panelColor }}',
                data: valuesPerHourGraph,
                pointPadding: -0.2,
                pointPlacement: -0.1
            }],
            lang: {
                noData: "Nenhum registro neste período."
            }
        });
    </script>
{% endblock %}