{% extends 'AdminBundle::reportList.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="">
{% endblock %}

{% block dataTitle %} Download e Upload {% endblock %}
{% block filter %}{% endblock %}

{% block thead %}
    <th>Ano</th>
    <th>Mês</th>
    <th>Dia</th>
    <th>Download</th>
    <th>Upload</th>
{% endblock %}

{% block tbody %}
    {% for entity in entity %}
      <tr class="gradeX">
        <td>{{ entity.key_as_string|slice(0,4) }}</td>
        <td>{{ entity.key_as_string|slice(5,2)|format_month }}</td>
        <td>{{ entity.key_as_string|slice(8,2) }}</td>
        <td>{{ entity.download['value'] | format_bytes }}</td>
        <td>{{ entity.upload['value'] | format_bytes  }}</td>
      </tr>
    {% endfor %}
{% endblock %}

{% block pagination %}

    {% if entity | length > 0 %}
        <div id="modal" class="bootbox modal fade in" tabindex="-1" style="display: none; overflow:hidden;" aria-hidden="false">
            <form name="export" method="get" action="{{ path('admin_export_download_upload_detail')}}" class="form-inline" novalidate="novalidate">
                <div class="modal-body">
                    <input type="hidden" id="filters" name="filters" value="{{ path('admin_export_download_upload_detail', {'year' : app.request.get('year') , 'month' : app.request.get('month'), 'accessPoint' : app.request.get('accessPoint')}) }}"/>
                    <input type="hidden" id="fileFormat" name="fileFormat" value="" />
                    <h3>Exportação de relatório</h3>
                    <div class='span6'>
                        <div class='control-group'>
                            <label class='control-label required' for='endDate' aria-required='true'>Exportar no formato: </label>
                            <div class='controls'>
                                <select name="charset" id="charset">
                                    <option value="windows">Windows/Mac</option>
                                    <option value="linux">Linux</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="close" data-handler="1" class="btn btn-danger">Cancelar</a>
                    <button id="export" type="submit" class="btn btn-success">Exportar</button>
                </div>
            </form>
        </div>
    {% endif %}

    {% embed "AdminBundle::filesReportEmbed.html.twig" %}
        {% block exportar %}
            {% if entity | length > 0 %}
                <h3>Download de Relatórios  &nbsp &nbsp<a data-toggle="tooltip" data-placement="top" data-original-title="Atualizar Listagem" id="refresh-report-list" class="glyphicons refresh"><i></i></a></h3>
                <div class="btn-group btn-block">
                    <div class="leadcontainer">
                        <button class="btn dropdown-lead btn-primary center">Exportar</button>
                    </div>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span> </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="center"><a class="file" data-format="Csv" data-placement="right" href="#">CSV</a></li>
                        <li class="center"><a class="file" data-format="Xlsx" data-placement="right" href="#">EXCEL</a></li>
                        <li class="center"><a class="file" data-format="Pdf" data-placement="right" href="#">PDF</a></li>
                    </ul>
                </div>
                </div>
                <br>
                <br>
                <div id="export-generating-alert"></div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block action%}
  <div class="form-actions left" style="position: relative;right: 15px;">
      <a href="{{ path('admin_download_upload_report') }}" class="btn btn-icon btn-default glyphicons left_arrow">
          <i></i>Voltar
      </a>
  </div>
{%endblock%}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.tooltip.js') }}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/plugins/charts/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('bundles/admin/theme/scripts/demo/charts.helper.js') }}"></script>
    <script src="{{ asset('bundles/admin/frontend/js/wspot.report.files.js')}}"></script>

    <script>
        jQuery(document).ready(function(){
            /**
             * Ajax Load Report Files on S3
             * Function created to view the generated reports that are available for download in S3.
             */
            loadReportFiles('{{ reportType }}');

            $('#refresh-report-list').click(function(){
                loadReportFiles('{{ reportType }}');
            });

            $('a.file').click(function() {
                var format = $(this).data('format');

                bootbox
                        .dialog($('#modal'))
                        .on('shown.bs.modal', function() {
                            $('.bootbox.modal.fade.in').removeAttr('style');
                            $('#modal').show();
                            $('#fileFormat').val(format);
                        })
                ;
            });

            $('#close').click(function() {
                bootbox.hideAll();
                $('meta[http-equiv=refresh]').attr('content', '0');
            });

            $('#export').click(function() {
                bootbox.hideAll();
                window.setTimeout('location.reload()', 1000);
            });
        });
    </script>
{% endblock %}