<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <title>Feliz 2017 {{ config.partner_name|default("") }}!</title>
</head>
<body>
<table cellspacing="0" bgcolor="#f1f1f1" align="center" width="100%" style="background-color:#f1f1f1;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px">
    <tbody>
    <tr>
        <td bgcolor="#f1f1f1" align="center" style="background-color:#f1f1f1;padding-right:20px;padding-top:0;padding-left:20px;padding-bottom:20px;text-align:center;">
            <div align="center" style="max-width:800px;margin-top:0;margin-right:auto;margin-bottom:0;margin-left:auto;padding-top:0;padding-right:10px;padding-bottom:0;padding-left:10px">
                <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" width="656" style="background-color:#ffffff;padding-bottom:0px;padding-right:0px;padding-top:0px;padding-left:0px;width:656px!important;max-width:800px;margin-bottom:0;margin-right:0;margin-top:0;margin-left:0;font-family:Arial;font-size:11px;color:#565656;text-align:left">
                    <tbody>
                    <tr>
                        <td bgcolor="#565656" width="100%" style="background-color:#f1f1f1">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f1f1f1" width="656" style="background-color:#f1f1f1">
                                <tbody>
                                <tr>
                                    <td align="right" width="182">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; color: #5f5f5f; text-align: right;">
                                            <tbody>
                                            <tr>
                                                <td height="30" width="182"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="100%">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" width="100%" style="padding-right:0px;padding-bottom:0px;padding-left:0px;padding-top:0px;border-right-width:0px;border-bottom-width:0px;border-top-width:0px;border-left-width:0px;text-align:left;margin-left:0;margin-bottom:0;margin-top:0;margin-right:0;background-color:#ffffff;font-family:Arial;font-weight:100;font-size:14px;color:#444444;line-height:0px">
                                <tbody>
                                <tr>
                                    <td style="padding-left:30px;padding-bottom:20px;padding-right:30px;padding-top:40px;font-size:30px;line-height:48px;color:#ec213a;font-family:Arial;font-weight:bold; text-align: center;" colspan="2"> Mambo WiFi <i style="bottom: 10px; font-size: 15px; position: relative; right: 5px;">&reg;</i> &bull; &nbsp; {{ partner_name }} </td>
                                </tr>

                                <tr>
                                    <td style="padding-left:30px;padding-bottom:20px;padding-right:30px;padding-top:10px;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="padding-right: 0; text-align: justify; padding-left: 0; padding-bottom: 30px; font-size: 20px; line-height: 25px; color: #000000; font-family: Arial;">
                                                    Ocorreu um erro no c&aacute;lculo de SMS enviadas, mas j&aacute; resolvemos o problema e por isso estamos lhe enviando novamente este e-mail.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right: 0; text-align: justify; padding-left: 0; font-size: 20px; line-height: 25px; color: #5f5f5f; font-family: Arial;">
                                                    A gente sabe que 2016 foi um ano complicado para a maioria das empresas. Apesar disso, muita coisa boa aconteceu neste per&iacute;odo para a Mambo Wifi. Voc&ecirc; faz parte deste sucesso e queremos compartilhar com voc&ecirc; estes n&uacute;meros.
                                                    <br/><br/>
                                                    Para voc&ecirc; ter uma ideia, considerando a soma de resultados de todos os nossos clientes, mais de <b style="font-size: 25px; color:#ec213a;">{{ totalGuestsYear }}</b> de pessoas se cadastraram no Mambo WiFi em 2016. Mais de <b style="font-size: 25px; color:#ec213a;">{{ totalAccountingsYear }}</b> acessos foram realizados no mesmo per&iacute;odo.
                                                    <br/><br/>
                                                    Vamos para alguns n&uacute;meros e dados da sua conta que valem a pena analisar?
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding-left:30px;padding-right:30px;padding-top:10px;">
                                        <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;text-align:left" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse;padding-top:0;padding-right:0;padding-bottom:6px;padding-left:0">
                                                    <h2 style="font-family:Arial,sans-serif;font-weight:bold;color:#5f5f5f;font-size:24px;line-height:24px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                                                        Informa&ccedil;&otilde;es sobre seus visitantes
                                                    </h2>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding-left:30px;padding-bottom:20px;padding-right:30px;padding-top:10px;">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="padding-right: 0; text-align: justify; padding-left: 0; font-size: 20px; line-height: 25px; color: #5f5f5f; font-family: Arial;">
                                                    Mais de <b style="font-size: 25px; color:#ec213a;">{{ countTotalGuests }}</b> visitantes foram cadastrados em seu Mambo WiFi no ano de 2016. Uma m&eacute;dia de <b style="font-size: 25px; color:#ec213a;">{{ countTotalGuestsMonth }}</b> cadastros por m&ecirc;s.
                                                    <br/>
                                                    <br/>
                                                    Sendo <b style="font-size: 25px; color:#ec213a;">{{ uniqueAccessGuests }}</b> visitantes &uacute;nicos, ou seja, aqueles que vieram apenas uma vez, e <b style="font-size: 25px; color:#ec213a;">{{ returningAccessGuests }}</b> recorrentes, aqueles que retornaram recentemente.
                                                    <br/>
                                                    <br/>
                                                    <b style="font-size: 25px; color:#ec213a;">{{ averageAccessTime }}</b> foi o tempo m&eacute;dio de conex&atilde;o de cada um desses visitantes.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding-left:30px;padding-right:30px;padding-top:10px;">
                                        <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;text-align:left" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse;padding-top:0;padding-right:0;padding-bottom:6px;padding-left:0">
                                                    <h2 style="font-family:Arial,sans-serif;font-weight:bold;color:#5f5f5f;font-size:24px;line-height:24px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                                                        Confira abaixo algumas informa&ccedil;&otilde;es em gr&aacute;ficos
                                                    </h2>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table align="center" border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;color:#5f5f5f;width:600px!important" width="600" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse">
                                                    <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important" width="600" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;padding-top:14px;padding-right:0;padding-bottom:0;padding-left:0">
                                                                <table style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important;text-align:center;border-top-color:#dbdbdb;border-right-color:#dbdbdb;border-bottom-color:#dbdbdb;border-left-color:#dbdbdb;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;background-color:#ffffff" bgcolor="#FFFFFF" width="600" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th style="border-collapse:collapse;color:#5f5f5f;height:12px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dbdbdb;font-family:Arial,sans-serif;font-weight:bold;font-size:12px;line-height:19px;text-transform:uppercase;padding-top:12px;padding-right:0;padding-bottom:12px;padding-left:0">
                                                                            Total de visitantes por m&ecirc;s
                                                                            <br>
                                                                            <div style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;line-height:12px;text-transform:uppercase;color:#ec213a;text-align: center;">Em todo o ano</div>
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="border-collapse:collapse;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                                                                            {% if visitsByMonth %}
                                                                                <img src="{{ visitsByMonth }}" style="outline:none;text-decoration:none" class="CToWUd">
                                                                            {% else %}
                                                                                N&atilde;o existem registros neste per&iacute;odo.
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important" width="600" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;padding-top:14px;padding-right:0;padding-bottom:0;padding-left:0">
                                                                <table style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important;text-align:center;border-top-color:#dbdbdb;border-right-color:#dbdbdb;border-bottom-color:#dbdbdb;border-left-color:#dbdbdb;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;background-color:#ffffff" bgcolor="#FFFFFF" width="600" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th style="border-collapse:collapse;color:#5f5f5f;height:12px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dbdbdb;font-family:Arial,sans-serif;font-weight:bold;font-size:12px;line-height:19px;text-transform:uppercase;padding-top:12px;padding-right:0;padding-bottom:12px;padding-left:0">
                                                                            Hor&aacute;rios com mais acessos
                                                                            <br>
                                                                            <div style="font-family:Arial,sans-serif;font-weight:bold;font-size:10px;line-height:12px;text-transform:uppercase;color:#ec213a;text-align: center;">Em todo o ano</div>
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="border-collapse:collapse;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                                                                            {% if hours %}
                                                                                <img src="{{ hours }}" style="outline:none;text-decoration:none" class="CToWUd">
                                                                            {% else %}
                                                                                N&atilde;o existem registros neste per&iacute;odo.
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important" width="600" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;padding-top:14px;padding-right:0;padding-bottom:0;padding-left:0">
                                                                <table style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important;text-align:center;border-top-color:#dbdbdb;border-right-color:#dbdbdb;border-bottom-color:#dbdbdb;border-left-color:#dbdbdb;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;background-color:#ffffff" bgcolor="#FFFFFF" width="600" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th style="border-collapse:collapse;color:#5f5f5f;height:12px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dbdbdb;font-family:Arial,sans-serif;font-weight:bold;font-size:12px;line-height:19px;text-transform:uppercase;padding-top:12px;padding-right:0;padding-bottom:12px;padding-left:0">
                                                                            Dispositivos
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="border-collapse:collapse;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                                                                            {% if platformChart %}
                                                                                <img src="{{ platformChart }}" style="outline:none;text-decoration:none" class="CToWUd">
                                                                            {% else %}
                                                                                N&atilde;o existem registros neste per&iacute;odo.
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important" width="600" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;padding-top:14px;padding-right:0;padding-bottom:0;padding-left:0">
                                                                <table style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important;text-align:center;border-top-color:#dbdbdb;border-right-color:#dbdbdb;border-bottom-color:#dbdbdb;border-left-color:#dbdbdb;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;background-color:#ffffff" bgcolor="#FFFFFF" width="600" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th style="border-collapse:collapse;color:#5f5f5f;height:12px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dbdbdb;font-family:Arial,sans-serif;font-weight:bold;font-size:12px;line-height:19px;text-transform:uppercase;padding-top:12px;padding-right:0;padding-bottom:12px;padding-left:0">
                                                                            Origem dos cadastros
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="border-collapse:collapse;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                                                                            {% if registerModeChart %}
                                                                                <img src="{{ registerModeChart }}" style="outline:none;text-decoration:none" class="CToWUd">
                                                                            {% else %}
                                                                                N&atilde;o existem registros neste per&iacute;odo.
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important" width="600" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;padding-top:14px;padding-right:0;padding-bottom:0;padding-left:0">
                                                                <table style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;width:600px!important;text-align:center;border-top-color:#dbdbdb;border-right-color:#dbdbdb;border-bottom-color:#dbdbdb;border-left-color:#dbdbdb;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;background-color:#ffffff" bgcolor="#FFFFFF" width="600" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th style="border-collapse:collapse;color:#5f5f5f;height:12px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dbdbdb;font-family:Arial,sans-serif;font-weight:bold;font-size:12px;line-height:19px;text-transform:uppercase;padding-top:12px;padding-right:0;padding-bottom:12px;padding-left:0">
                                                                            Top 5 Pontos de acesso com mais visitas
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="border-collapse:collapse;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                                                                            {% if mostVisitedAp %}
                                                                                <img src="{{ mostVisitedAp }}" style="outline:none;text-decoration:none" class="CToWUd">
                                                                            {% else %}
                                                                                N&atilde;o existem registros neste per&iacute;odo.
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                {% if countTotalSmsYear > 0 %}
                                    <tr>
                                        <td style="padding-left:30px;padding-bottom:10px;padding-right:30px;padding-top:10px;">
                                            <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;text-align:left" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                <tr>
                                                    <td style="border-collapse:collapse;padding-top:20px;padding-right:0;padding-bottom:6px;padding-left:0">
                                                        <h2 style="font-family:Arial,sans-serif;font-weight:bold;color:#5f5f5f;font-size:24px;line-height:24px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                                                            Informa&ccedil;&otilde;es sobre envio de SMS
                                                        </h2>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:30px;padding-bottom:20px;padding-right:30px;">
                                            <table cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-right: 0; text-align: justify; padding-left: 0; font-size: 20px; line-height: 25px; color: #5f5f5f; font-family: Arial;">
                                                        Em 2016 foi enviado um total de <b style="font-size: 25px; color:#ec213a;">{{ countTotalSmsYear }}</b> SMS, em m&eacute;dia <b style="font-size: 25px; color:#ec213a;">{{ countTotalSmsMonth }}</b> por m&ecirc;s. O investimento nestas a&ccedil;&otilde;es foi de aproximadamente R$ {{ smsCost }} reais.
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if hasCampaignModule %}
                                    <tr>
                                        <td style="padding-left:30px;padding-bottom:10px;padding-right:30px;padding-top:10px;">
                                            <table border="0" style="font-family:Arial,sans-serif;font-weight:normal;border-collapse:collapse;text-align:left" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                <tr>
                                                    <td style="border-collapse:collapse;padding-top:20px;padding-right:0;padding-bottom:6px;padding-left:0">
                                                        <h2 style="font-family:Arial,sans-serif;font-weight:bold;color:#5f5f5f;font-size:24px;line-height:24px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                                                            Informa&ccedil;&otilde;es sobre Campanhas
                                                        </h2>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left:30px;padding-bottom:20px;padding-right:30px;">
                                            <table cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-right: 0; text-align: justify; padding-left: 0; font-size: 20px; line-height: 25px; color: #5f5f5f; font-family: Arial;">
                                                            Voc&ecirc; criou <b style="font-size: 25px; color:#ec213a;">{{ totalCampaign }}</b> campanha(s) em 2016. O resultado foi satisfat&oacute;rio? N&oacute;s gostar&iacute;amos de saber se o seu resultado foi satisfat&oacute;rio, por isso, n&atilde;o hesite em nos contar esta hist&oacute;ria, ok?
                                                            <br/><br/>
                                                            De qualquer forma, aproveite para criar mais campanhas este ano e lucrar cada vez mais. Nosso blog tem algumas dicas de como fazer isso. <a href="http://www.mambowifi.com/blog/?s=campanha&searchsubmit=Pesquisa" style="color:#ec213a;" target="_blank">(acesse)</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px;padding-bottom:0px;padding-right:30px;padding-top:40px;">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td style="padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#5f5f5f;font-family:Arial;">Desejamos um excelente 2017 e que neste ano n&oacute;s possamos multiplicar estes n&uacute;meros juntos, fortalecendo cada vez mais a nossa parceria.</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px;padding-bottom:70px;padding-right:30px;padding-top:40px;">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td style="padding-right:20px;padding-left: 20px;padding-bottom:10px;font-size:18px;line-height:18px;color:#444444;font-family:Arial;">Atenciosamente,</td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial; font-weight: bold;">Equipe Mambo Wifi</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1" width="100%" style="background-color:#f1f1f1;padding-bottom:50px;padding-top:40px; text-align: center;">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f1f1f1" width="656" style="background-color:#f1f1f1">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; color: #5f5f5f; text-align: center;">
                                            <tbody>
                                            <tr>
                                                <td style="text-align: center;">
                                                    Hotspot de acordo com o Marco Civil da Internet. Registramos os dados de cadastro do
                                                    visitante, IP da conexão, MAC Address, horários e duração das conexões à internet.
                                                    Os registros de conexão são por armazenados por um ano, como determina a Lei 12.965,
                                                    em vigor desde junho de 2014.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1" width="100%" style="background-color:#f1f1f1;padding-bottom:20px;text-align: center;">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f1f1f1" width="656" style="background-color:#f1f1f1; border-bottom: 1px solid #e5e5e5;">
                                <tbody>
                                <tr>
                                    <td align="center">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1" width="100%" style="background-color:#f1f1f1;padding-bottom:30px;padding-top:10px; text-align: center;">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f1f1f1" width="656" style="background-color:#f1f1f1">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 18px; font-weight:bold;color: #6d6d6d; text-align: center;">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:11px;line-height:11px;color:#6d6d6d;font-family:Arial;"><a href="http://www.mambowifi.com" target="_blank" style="text-decoration: none; color: #ec213a">www.mambowifi.com</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
